table, th, td {
    border: 1px solid;
    padding: 10px;
    margin-left:12%;
    margin-right:17%;
  }

  table{
    width: 80%;
  }
  th {
    height: 70px;
  }
  td {
    text-align: center;
  }

  h2{
    margin-right:60%;
  }